      /* Estilos para el cuerpo de la página */
      body {
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
        background-color: #fdf0d5;
      }
      
      /* Estilos para el contenedor principal */
      .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        background-color: #669bbc;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
        
        /* Estilos para centrar el contenedor */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      /* Estilos para el encabezado */
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      
      /* Estilos para los campos de entrada */
      input[type=text], input[type=password], input[type=number] {
        width: 100%;
        padding: 12px 20px;
        margin: 20px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      /* Estilos para los botones */
      button {
        background-color: #c1121f;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      /* Estilos para los botones de inicio de sesión y registro */
      .loginbtn {
        float: inline-start;
        margin: 5px;
      }
      
      .registerbtn {
        float: inline-end;
        margin-left: 175px;
      }
      
      /* Estilos para los enlaces de registro y recuperación de contraseña */
      .register, .forgot {
        display: block;
        text-align: center;
        margin-top: 20px;
      }
      
      /* Estilos para el enlace de registro */
      .register {
        color: #4CAF50;
      }
      
      /* Estilos para el enlace de recuperación de contraseña */
      .forgot {
        color: #f44336;
      }

      .ingreso {
        background-color: #c1121f;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 150px;
        height: 60px;
        

      }

      .boton-ingreso{
        display: flex;
        align-items: center;
        justify-content: center;
      }
