/* Inicio Barra */

*{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #fdf0d5;
}

/*Paleta Colores
780000
c1121f
fdf0d5
003049
669bbc
*/

/* Agrega aquí el código CSS */
.menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 350px;
  height: 100%;
  background-color: #003049;
  transition: left 0.3s ease-in-out;
  z-index: 1;
}

.menu.open {
  left: 0;
  width: 275px;
}

/* Modifica el estilo del botón Menú para centrar el texto y colocar el ícono a la derecha */
.menu-button {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Centra horizontalmente y coloca el ícono a la derecha */
  width: 100%;
  padding: 5px 10px 0px 20px;
  background-color: #669bbc;
  color: #fdf0d5;
  border: none;
  cursor: pointer;
  font-size: 60px;
}

.menu-button .material-icons {
  font-size: 35px;
  margin-left: 10px; /* Espacio entre el texto y el icono */
  font-size: 4 0px;
}



.menu-list {
  margin-top: 0;
  padding: 0;
  text-align: right;
  list-style: none;
  text-decoration: bold;
}

.menu-list li {
  margin: 0;
  padding: 0;
}

.menu-list li a {
  display: flex;
  align-items: center;
  padding: 0px 9px 0px 10px; /* Ajusta el padding según sea necesario */
  color: #fff;
  text-decoration: none;
}

.menu-list li a .material-icons {
  margin-left: auto; /* Coloca el icono a la derecha */

  font-size: 35px;
}

.menu-list li a:hover {
  background-color: #444;
  transform: scale(1.01);
  transition: transform .3s;
}

i {
    margin-left: 12px; /* Espacio entre el icono y el texto */
    vertical-align: middle;

   
}

.tipo_boton{
    margin-top: 90px;
    border-radius: 50px;
    text-align: right;
    
}

.material-icons{
  font-size: 35px;

}

.logo{
  width: 200px;
  height: 150px;
  padding: 50px 40px 0px 0px;
}

.logo2{
  width: 500px;
  height: 400px;
  align-items: center;
}

.bienvenida{
  color: #003049;
  font-size: 140px;
  padding-left: 50px;
  text-align: center;
  text-shadow: 3px 3px 8px black;
  margin-top: 60px;
}

.logo-principal{
  display: flex;
  justify-content: center;
}

body{
  background-color: #fdf0d5;
}

footer{
  background-color: #780000;
  display: flex;
  justify-content: center;
  color: white;
}


/* Fin Barra */

#container{
  margin: 0px;
  padding: 0px;
}

#zonas{
  justify-content: start;
  margin-left: 100px;
}

#zonas h1{
  color: black;
  font-size: 50px;
}

#titulo{
  display: flex;
  align-items: self-start;
  margin-left: 80px;
}

h2{
  display: flex;
  justify-content: center;
  color: black;
  font-size: 30px;
}

#img1{
  width: 200px;
}
.subtitulo{
  font-size: 30px;
  color: black;
  margin-left: 50px;
}

.barra-opciones{
  display: flex;
  justify-content: center;
  color: black;
}

#opciones{
  width: 300px;
  color: #000;
}

#opciones option{
  color: black;
}

#boton-zona{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.solicitar{
  font-family: 'Times New Roman', Times, serif;
  background-color: #c1121f;
  color: #fff;
  padding: 1px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 190px;
  height: 80px;
  font-size: 22px;
  box-shadow: 3px 3px 1px black;
  text-align: center;
 
}
#boton-mas-zona{
  display: flex;
  justify-content: center;
  margin: 40px;
}
.mas{
  font-family: 'Times New Roman', Times, serif;
  background-color: #c1121f;
  color: #fff;
  padding: 1px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 190px;
  height: 80px;
  font-size: 22px;
  box-shadow: 3px 3px 1px black;
  text-align: center;
 
}


footer{
  background-color: #780000;
  display: flex;
  justify-content: center;
  color: white;
}